<div *ngFor='let user of users$' class="container" style="text-align: center">
<app-header></app-header>
<div [style.background-image]="'url(./assets/bg_1' + trls.img + ')'"></div>
</div>

<router-outlet></router-outlet>