<header>
    <h3>{{ title }}</h3>
    <h1>Frontend</h1>
        <Content-Type: application/json></Content-Type:>
        <Content-Encoding: gzip></Content-Encoding:>
        <Applicant-Id: {S6R37Qvn48LyU4mV}></Applicant-Id:>
</header>